@{
    ViewData["Title"] = "Student Trips";
}


<div class="text-center">
    <em>Affordable for everyone</em>
    <br />
    <div class="img">
        <img src="https://cdn.vox-cdn.com/thumbor/o_FG-f0ujI3ejoFuKZ21Zfhc1Jk=/0x0:4897x3428/1200x800/filters:focal(2058x1323:2840x2105)/cdn.vox-cdn.com/uploads/chorus_image/image/72604975/GettyImages_1326411737.0.jpg" class="img-fluid" alt="Responsive image">

    </div>
</div>